//
// COMPONENTS > NAVIGATION
//

/**
Fixed main navigation on scroll
**/

#wrapper-navbar {
    transition: all 0.5s ease;
    #site-navbar {
        z-index: 100;
        background-color: white;
        &.scrolled {
            position: fixed;
            top: 0px;
            width: 100%;
            transition: all 0.5s ease;
            animation: smoothScroll 0.5s forwards;
            box-shadow: 0px 3px 6px 0px #0000002e;
            &.navbar {
                transition: all 0.5s ease;
            }
            a {
                font-size: 0.7rem;
                &.dropdown-item {
                    font-size: 0.7rem;
                    color: black;
                }
                img {
                    max-height: 40px; //brand logo height
                }
            }
        }
    }
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
    // width: 100%;
}

// Man navigation links and buttons
.nav-link,
.btn {
    font-family: $nav-text;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.navbar-nav a.nav-link.btn {
    padding: 0.5rem 1.5rem;
}

.btn-outline-primary:hover {
    color: white !important;
}

a.text-primary.btn-outline-primary:hover {
    color: white !important;
}

// Prices - Navigation
#prices nav {
    max-width: 700px;
}

// Testimonials - Carousel
#testimonials {
    .carousel-indicators {
        bottom: -40px;
    }
    .carousel-inner {
        width: 50%;
    }
    @include media-breakpoint-up(lg) {
        .carousel-inner {
            width: 100%;
        }
    }
}