//
// COMPONENTS > UTILITIES
//
.py-responsive {
    padding-top: 5vw !important;
    padding-bottom: 5vw !important;
}

.bg-light-gray {
    background-color: #F5F5F5;
}

.bg-gradient {
    background: linear-gradient(to right, rgb(76, 146, 222), rgb(0, 29, 60));
}

.text-line-through {
    text-decoration: line-through;
}