<header class="container-fluid hero-image">
    <div class="hero-text text-center text-white">
    <img src="../public/images/logo-white.png" alt="" height="200"/>
        <h1 class="text-center mt-0">Eye Catching Resumes For Everyone</h1>
        <p class="lead mx-auto">Landing the dream job starts with building the perfect resume</p>
        <p class="mx-auto">
            <a href="#about" class="btn btn-light mb-3">What we do</a>
            <a href="#prices" class="btn btn-outline-success mb-3">Prices</a>
        </p>
    </div>
</header>